#container{
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}
button{
	font-size: 1.5rem;
	padding: 5px;
	margin: 4px;
}
img{
	width:125px;
	margin:-2px;
	border: 5px solid white;
	border-radius: 10px;
}